# Исполняемые файлы (компиляция)
*.exe
*.out
*.o
*.obj

# Папки сборки и временные файлы IDE (если используешь VS Code or CLion)
.vscode/
.idea/
*.dSYM/

# Временные файлы операционных систем
.DS_Store
Thumbs.db
